In [1]:
import pandas as pd
# matplotlib inline
import matplotlib
import sklearn
from kmapper import jupyter

# Import the class
import kmapper as km
import numpy as np
from sklearn import ensemble

In [2]:
df = pd.read_csv('test.csv')
df

,Name,Position,Club,Division,Based,Nation,Height,Weight,Age,Preferred Foot,...,Cmp,Com,Cmd,Bra,Bal,Ant,Agi,Agg,Aer,Acc
0,Lionel Messi,"AM (RC), ST (C)",Barcelona,Spanish First Division,Spain (First Division),ARG,170,72,32,Left,...,18,2,2,10,19,19,19,7,2,18
1,Cristiano Ronaldo,"AM (RL), ST (C)",Juventus,Italian Serie A,Italy (Serie A),POR,185,83,34,Either,...,14,4,1,16,14,18,13,6,2,15
2,Kylian MbappÃ©,"AM (RL), ST (C)",Paris SG,Ligue 1 Conforama,France (Ligue 1 Conforama),FRA,178,73,20,Right,...,18,2,1,12,14,17,16,6,4,20
3,Manuel Neuer,GK,FC Bayern,Bundesliga,Germany (Bundesliga),GER,192,90,33,Either,...,20,12,17,14,14,19,15,8,14,13
4,Neymar,"M (L), AM (LC), ST (C)",Paris SG,Ligue 1 Conforama,France (Ligue 1 Conforama),BRA,175,68,27,Right,...,17,3,1,14,14,16,18,10,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144745,Yuan Jinxing,ST (C),Unknown,Unknown,China,CHN,169,81,41,Right Only,...,7,3,3,2,3,9,8,8,1,11
144746,Aizudin Abdul Rahman,M (C),BSRC,Bruneian Premier League,Brunei (Premier League),BRU,180,69,24,Right Only,...,4,1,3,1,3,4,9,14,2,9
144747,Berlin Jean-Gilles,ST (C),CS Monteuil,PremiÃ¨re Ligue de soccer du QuÃ©bec,Canada (PLSQ),HAI,180,79,32,Right Only,...,8,3,1,1,2,4,10,6,3,11
144748,Frederik van Hauen,M (C),Skovshoved,2. Division,Denmark (2. Division),DEN,195,85,19,Right Only,...,3,3,3,3,4,4,3,16,1,5
144749,Hui Kim Yeung,M (C),Freemen,Hong Kong Lower Division,Hong Kong (China PR) (Lower Division),HKG,172,65,24,Right Only,...,8,3,2,1,4,2,12,16,2,13

In [10]:
top_10_leagues = ['Spanish First Division', 'Italian Serie A', 'Ligue 1 Conforama', 'Bundesliga', 'English Premier Division',
              'Argentine Premier Division', 'Brazilian National First Division', 'Eredivisie', 'Turkish Super League',
              'Portuguese Premier League']
df['top_league'] = np.where(df['Division'].isin(top_10_leagues), 1, 0)

In [11]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

newdf = df.select_dtypes(include=numerics)
newdf.drop(['Height', 'Weight', 'Age', 'Value', 'Wage'], axis=1, inplace=True)
'''
Height    int64
Weight    int64
Age       int64
Value     int64
Wage      int64
'''
newdf

,CA,PA,Wor,Vis,Thr,Tec,Tea,Tck,Str,Sta,...,Com,Cmd,Bra,Bal,Ant,Agi,Agg,Aer,Acc,top_league
0,195,200,7,20,2,20,14,7,9,13,...,2,2,10,19,19,19,7,2,18,1
1,195,196,10,14,2,17,10,8,16,15,...,4,1,16,14,18,13,6,2,15,1
2,181,196,10,13,1,17,10,2,11,14,...,2,1,12,14,17,16,6,4,20,1
3,176,193,14,12,19,12,18,3,16,10,...,12,17,14,14,19,15,8,14,13,1
4,186,190,10,16,1,20,8,1,10,13,...,3,1,14,14,16,18,10,4,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144745,3,3,3,1,4,6,2,1,1,6,...,3,3,2,3,9,8,8,1,11,0
144746,2,2,9,4,3,5,5,4,3,5,...,1,3,1,3,4,9,14,2,9,0
144747,2,2,2,1,3,1,1,1,2,7,...,3,1,1,2,4,10,6,3,11,0
144748,1,2,8,7,2,8,6,4,6,4,...,3,3,3,4,4,3,16,1,5,0
144749,1,2,10,2,3,3,5,3,3,6,...,3,2,1,4,2,12,16,2,13,0

In [12]:
newdf.columns

Index(['CA', 'PA', 'Wor', 'Vis', 'Thr', 'Tec', 'Tea', 'Tck', 'Str', 'Sta',
       'TRO', 'Ref', 'Pun', 'Pos', 'Pen', 'Pas', 'Pac', '1v1', 'OtB', 'Nat',
       'Mar', 'L Th', 'Lon', 'Ldr', 'Kic', 'Jum', 'Hea', 'Han', 'Fre', 'Fla',
       'Fir', 'Fin', 'Ecc', 'Dri', 'Det', 'Dec', 'Cro', 'Cor', 'Cnt', 'Cmp',
       'Com', 'Cmd', 'Bra', 'Bal', 'Ant', 'Agi', 'Agg', 'Aer', 'Acc',
       'top_league'],
      dtype='object')

In [13]:
work_rate = newdf['L Th'].to_numpy()

In [15]:
sample_df = newdf.sample(2000)
ind_df = sample_df.drop(columns=['CA', 'PA', 'top_league'])
data = ind_df.to_numpy()
data

array([[14, 10,  2, ..., 11,  1,  8],
       [11, 10,  2, ...,  5,  1, 10],
       [10, 10, 13, ...,  5, 12,  9],
       ...,
       [11,  9,  2, ...,  8,  2,  9],
       [ 7,  7,  2, ..., 11,  2, 12],
       [ 5,  4,  4, ...,  7, 12,  3]], dtype=int64)

In [67]:
attribute_list = [sample_df[attr].to_list() for attr in list(sample_df.columns)]
attribute_list_np = [sample_df[attr].to_numpy() for attr in list(sample_df.columns)]
attribute_list_np = sample_df.to_numpy()
array = np.array(attribute_list)
transposed_array = array.T
transposed_array

array([[100, 110,  14, ...,   1,   8,   0],
       [ 81, 114,  11, ...,   1,  10,   0],
       [115, 118,  10, ...,  12,   9,   0],
       ...,
       [ 27,  30,  11, ...,   2,   9,   0],
       [ 68,  80,   7, ...,   2,  12,   0],
       [ 58,  80,   5, ...,  12,   3,   0]])

In [16]:
pred_df = sample_df[['CA', 'PA', 'top_league']]
pred_data = np.array(pred_df['CA'])
pred_data

array([100,  81, 115, ...,  27,  68,  58], dtype=int64)

In [17]:
projection_list = [item for item in range(0, 47)]

In [18]:
# We create a custom 1-D lens with Isolation Forest
model = ensemble.IsolationForest(random_state=1729)
model.fit(data)
lens1 = model.decision_function(data).reshape((data.shape[0], 1))

# We create another 1-D lens with L2-norm
mapper = km.KeplerMapper(verbose=3)
lens2 = mapper.fit_transform(data, projection="l2norm")

KeplerMapper(verbose=3)
..Composing projection pipeline of length 1:
	Projections: l2norm
	Distance matrices: False
	Scalers: MinMaxScaler()
..Projecting on data shaped (2000, 47)

..Projecting data using: l2norm

..Scaling with: MinMaxScaler()

In [21]:
# Initialize
mapper = km.KeplerMapper(verbose=1)

# Fit to and transform the data
projected_data = mapper.fit_transform(data, projection=[0]) # X-Y axis

# Create a cover with 10 elements
cover = km.Cover(n_cubes=47, perc_overlap=0.75, limits=None, verbose=0)

# Create dictionary called 'graph' with nodes, edges and meta-information
graph = mapper.map(projected_data, data, 
                   clusterer=sklearn.cluster.DBSCAN(algorithm='auto', eps=15, leaf_size=30, 
                                                    metric='euclidean', metric_params=None, min_samples=3, 
                                                    n_jobs=None, p=None), 
                   cover=cover, nerve=km.GraphNerve(min_intersection=1), precomputed=False, remove_duplicate_nodes=False)
#Test

KeplerMapper(verbose=1)
..Composing projection pipeline of length 1:
	Projections: [0]
	Distance matrices: False
	Scalers: MinMaxScaler()
..Projecting on data shaped (2000, 47)

..Projecting data using: [0]

..Scaling with: MinMaxScaler()

Mapping on data shaped (2000, 47) using lens shaped (2000, 1)

Creating 47 hypercubes.

Created 238 edges and 122 nodes in 0:00:00.061052.

In [47]:
print(len(attribute_list))
#attribute_list

50

In [70]:
mapper.visualize(graph, path_html="classifier_x1_1_new.html",
                 title="classifiers",
                 custom_tooltips=pred_data,
                 color_values=attribute_list_np,
                 color_function_name=list(sample_df.columns)
                )
jupyter.display(path_html="classifier_x1_1_new.html")

Wrote visualization to: classifier_x1_1_new.html

C:\Users\jacks\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\display.py:419: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [43]:
#cf = mapper.project(pred_data, projection=[0])
lens = np.c_[lens2]
mapper.visualize(graph, path_html="classifier_x1_1_work.html",
                 title="classifiers",
                 custom_tooltips=work_rate,
                 color_values=work_rate,
                 color_function_name=["Work"]
                )
jupyter.display(path_html="classifier_x1_1_work.html")

Wrote visualization to: classifier_x1_1_work.html

C:\Users\jacks\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\display.py:419: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [ ]:
for i in projection_list:
    # Initialize
    mapper = km.KeplerMapper(verbose=1)

    # Fit to and transform the data
    projected_data = mapper.fit_transform(data, projection=[i]) # X-Y axis

    # Create a cover with 10 elements
    cover = km.Cover(n_cubes=47, perc_overlap=.5, limits=None, verbose=0)

    # Create dictionary called 'graph' with nodes, edges and meta-information
    graph = mapper.map(projected_data, data, 
                       clusterer=sklearn.cluster.DBSCAN(algorithm='auto', eps=10, leaf_size=30, 
                                                        metric='euclidean', metric_params=None, min_samples=3, 
                                                        n_jobs=None, p=None), 
                       cover=cover, nerve=km.GraphNerve(min_intersection=1), precomputed=False, remove_duplicate_nodes=False)